<% if reply.action.blank? %>
  <div class="reply">
    <div class="reply-left">
      <%= user_avatar_tag reply.user, :md, link: true %>
    </div>
    <div class="reply-right">
       <div class="reply-right-top">
         <div class="reply-user">
           <span class="admin-reply"><%= reply.user.login %></span> ·
           <span class="admin-reply"><%= timeago_tag(reply.created_at) %></span>
         </div>
         <div class="reply-button">
           <i class="fa fa-pencil"></i>
           <i class="fa fa-mail-reply"></i>
           <i class="fa fa-heart"></i>
         </div>
       </div>
       <div class="reply-body">
         <%= reply.body_html %>
       </div>
    </div>
  </div>
<% else %>
  <div class="reply">
    <div class="reply-left">
      <%= user_avatar_tag reply.user, :xs, link: true %>
    </div>

    <div class="reply-right">
       <div class="reply-right-top">
         <div class="reply-user">
           <span class="admin-reply"><%= reply.user.login %> <%= reply.body %></span> ·
           <span class="admin-reply"><%= timeago_tag(reply.created_at) %></span>
         </div>
       </div>
    </div>
  </div>
<% end %>

<% if reply.action == "ban" %>
  <div class="reply">
    <div class="reply-left">
      <%= user_avatar_tag reply.user, :xs, link: true %>
    </div>

    <div class="reply-right">
       <div class="reply-right-top">
         <div class="reply-user">
           <span class="admin-reply"><%= reply.user.login %>  <%= reply.ban_title %> </span> ·
           <span class="admin-reply"><%= timeago_tag(reply.created_at) %></span>
         </div>
       </div>
    </div>
  </div>
<% end %>

<script type="text/javascript">
  $(function () {
    $("time").timeago()
  })
</script>
