<div class="buttons">
  <ul>
    <% user_admin? %>
    <% topic_belong_to_user? %>
    <%= like_target_tag target: @topic %>
    <%= collect_topic_tag %>
    <%= place_top_topic_tag %>
    <%= excellent_topic_tag %>
    <%= ban_topic_tag %>
    <div class="pull-right">
      <%= discuss_topic_tag %>
      <%= edit_topic_tag %>
      <%= delete_topic_tag %>
    </div>
  </ul>
</div>

<script type="text/javascript">
  $(function () {
    topicView.initializeLikeable()
    $('[data-toggle="tooltip"]').tooltip().on('click', function() {
      $(this).tooltip('hide')
    })
  })
</script>
