<div class="buttons">
  <ul>
    <%= like_topic_tag %>
    <%= collect_topic_tag %>
    <% if current_user && current_user.admin?  %>
      <%= suggest_topic_tag %>
      <%= excellent_topic_tag %>
    <% end %>
    <li>
      <%= link_to raw('<i class="fa fa-ban"></i>屏蔽'),
          ban_admin_topic_path(@topic), method: :post, remote: true %>
    </li>
    <div class="pull-right">
      <li><i class="fa fa-check"></i></li>
      <li><i class="fa fa-pencil"></i></li>
      <li><i class="fa fa-trash"></i></li>
    </div>
  </ul>
</div>

<script type="text/javascript">
  topicView.initializeLikeable()
</script>
