<div class="topic-info">
  <div class="topic-info-left">
    <div>
      <span class="node-name"><%= @topic.node_name %></span>
      <span class="topic-title"><%= @topic.title %></span>
    </div>
    <div class="topic-date">
      <span><%= @topic.user.login %></span>
      <span>  · 发布于 <%= timeago_tag(@topic.created_at) %></span>
      <% if replies.present? %>
        <% last_reply = replies.last %>
        <span> · 最后由 <%= last_reply.user.login %></span>
        <span>回复于 <%= timeago_tag(last_reply.created_at) %></span>
      <% end %>
    </div>
  </div>
  <div class="topic-info-right">
    <%= user_avatar_tag @topic.user, :md %>
  </div>
</div>

<% cache([:topic_excellent, @topic.excellent]) do %>
  <% if @topic.excellent %>
    <%= render 'admin/topics/excell' %>
  <% end %>
<% end %>
