<div class="topic-up">
  <%= link_to raw('<i class="fa fa-arrow-up"></i>'), '#', class: "btn btn-block btn-default topic-arrow-up" %>
</div>

<div class="like-collect-button">
  <div class="like">
    <%= like_topic_tag label: false %>
  </div>
  <div class="collect">
    <span class="btn btn-default">
      <%=  collect_topic_tag label: false %>
    </span>
  </div>
</div>

<div class="share-button">
  <%= social_share_button_tag(@topic.title) %>
</div>

<div class="replies-count">
  <span>共收到 <%= @replies.count %> 条回复</span>
</div>

<div class="group-buttons">
  <%= render 'group_buttons' %>
</div>

<div class="topic-down">
  <%= link_to raw('<i class="fa fa-arrow-down"></i>'), '#', class: "btn btn-block btn-default topic-arrow-down" %>
</div>
