<% cache([@topic]) do %>
  <div class="topic-info">
    <div class="topic-info-left">
      <div>
        <span class="node-name"><%= @topic.node.name %></span>
        <span class="topic-title"><%= @topic.title %></span>
      </div>
      <div class="topic-date">
        <%= current_user.login %> · 发布于<%= @topic.created_at.to_date %>
      </div>
    </div>
    <div class="topic-info-right">
      <%= user_avatar_tag current_user, :md %>
    </div>
  </div>
<% end %>
