<div class="topic-up">
  <%= link_to raw('<i class="fa fa-arrow-up"></i>'), '#', class: "btn btn-block btn-default topic-arrow-up" %>
</div>

<div class="like-collect-button">
  <div class="like">
    <%= like_target_tag label: false, target: @topic %>
  </div>
  <div class="collect">
    <span class="btn btn-default">
      <%=  collect_topic_tag label: false %>
    </span>
  </div>
</div>

<div class="share-button">
  <%= social_share_button_tag(@topic.title) %>
</div>

<div class="replies-count">
  共收到 <span class="count"><%= replies.count %></span> 条回复
</div>

<div class="group-buttons">
  <% cache([:topic_group_buttons, @topic.updated_at, current_user]) do %>
    <%= render 'group_buttons' %>
  <% end %>
</div>

<div class="topic-down">
  <%= link_to raw('<i class="fa fa-arrow-down"></i>'), '#', class: "btn btn-block btn-default topic-arrow-down" %>
</div>
