<%= render "topics/node_info", node: @node %>

<div class="row">
  <div class="col-lg-9">
    <% cache([:topic_index, @topics.maximum(:updated_at), @topics.count]) do %>
      <%= render 'topic_index' %>
    <% end %>
  </div>

  <div class="col-lg-3">
    <% cache([:sidebar_box_new_help, Time.now.strftime("%Y-%m-%d")]) do %>
      <%= render 'sidebar_box_new_topic' %>
      <%= render 'sidebar_box_help_hints' %>
    <% end %>
    <%= render 'sidebar_box_tips' %>
    <% cache(["sidebar_box_count_info",Time.now.strftime("%Y-%m-%d %H")]) do %>
      <%= render 'sidebar_box_count_info' %>
    <% end %>
  </div>
</div>
