<%= render "topics/node_info", node: @node %>

<div class="row">
  <div class="col-lg-9">
    <%= render 'topic_index' %>
  </div>

  <div class="col-lg-3">
    <%= render 'sidebar_box_new_topic' %>
    <%= render 'sidebar_box_help_hints' %>
    <%= render 'sidebar_box_tips' %>
    <%= render 'sidebar_box_count_info' %>
  </div>
</div>
