<div class="row">
  <div class="col-md-9 topic-right-siderbar">
    <div class="panel panel-topic">
      <div class="panel-header panel-topic-info">
        <% cache([:topic_info, @replies_without_action.maximum(:updated_at), @topic.updated_at]) do %>
          <%= render 'topic_info', replies: @replies_without_action %>
        <% end %>
      </div>

      <% cache([:topic_body_button, Action.all.maximum(:updated_at), current_user]) do %>
        <div class="panel-body">
          <%= @topic.body_html %>
        </div>
        <div class="panel-footer buttons-footer">
          <%= render "buttons", topic: @topic %>
        </div>
      <% end %>
    </div>

    <% if @topic.ban %>
      <% cache([:topic_ban, @topic.ban]) do %>
        <%= render 'admin/topics/alert_nopoint', target: @ban_reply %>
      <% end %>
    <% end %>

    <div class="panel reply-info">
      <% cache([:replies, Action.all.maximum(:updated_at),
          @replies.maximum(:updated_at), current_user, @replies.count]) do %>
        <div class="panel-heading">共收到 <%= @replies.count %>回复</div>
        <div class="reply-all">
          <%= render partial: "replies/reply", collection: @replies %>
        </div>
      <% end %>
    </div>

    <% cache([:topic_discuss, @topic.discuss, current_user]) do %>
      <% if @topic.discuss %>
        <div class="panel topic-show-editor">
          <%= render 'editor_footer' %>
        </div>
      <% else %>
        <%= render 'admin/topics/alert_close' %>
      <% end %>
    <% end %>
  </div>

  <div class="col-md-3 topic-sidebar-panel">
    <div class="panel">
      <div class="panel-body topic-sidebar">
        <% cache([:topic_sidebar, Action.all.maximum(:updated_at),
          @replies_without_action.maximum(:updated_at), current_user]) do %>
          <%= render 'topic_sidebar', replies: @replies_without_action %>
        <% end %>
      </div>
    </div>
  </div>

</div>

<script type="text/javascript">
  App.mentionable("textarea", App.scanMentionableLogins($('.reply')))
</script>
