<div class="row">
  <div class="col-md-9">
    <div class="panel panel-topic">
      <div class="panel-header">
        <%= render 'topic_info' %>
      </div>
      <div class="panel-body">
        <%= @topic.body_html %>
      </div>
      <div class="panel-footer buttons-footer">
        <%= render "buttons", topic: @topic %>
      </div>
    </div>

    <% if @topic.node_name == "NoPoint" %>
      <%= render 'admin/topics/alert_nopoint', target: @ban_reply %>
    <% end %>

    <div class="panel reply-info">
      <% cache([:replies, @replies.maximum(:updated_at)]) do %>
        <div class="panel-heading">共收到 <%= @replies.count %>回复</div>
        <div class="reply-all">
          <%= render partial: "replies/reply", collection: @replies %>
        </div>
      <% end %>
    </div>

    <div class="reply-alert"></div>
    <% if @topic.discuss %>
      <div class="panel topic-show-editor">
        <div class="panel-heading">回帖</div>
        <div class="panel-body">
          <%= render 'reply_form' %>
        </div>
      </div>
    <% else %>
      <%= render 'admin/topics/alert_close' %>
    <% end %>
  </div>
</div>
