<div class="row">
  <div class="col-md-9">
    <div class="panel">
      <div class="panel-header">
        <%= render 'topic_info' %>
      </div>
      <div class="panel-body">
        <%= @topic.body_html %>
      </div>
      <div class="panel-footer">
        <%= render "buttons" %>
      </div>
    </div>
    <div class="panel">
      <% cache([:replies, @replies.max.try(:updated_at).to_i]) do %>
        <div class="panel-heading">共收到 <%= @replies.count %>回复</div>
        <div class="reply-all">
          <%= render partial: "replies/reply", collection: @replies %>
        </div>
      <% end %>
    </div>
    <div class="reply-alert"></div>
    <div class="panel">
      <div class="panel-heading">回帖</div>
      <div class="panel-body">
        <%= render 'reply_form' %>
      </div>
    </div>
  </div>
</div>
