<div class="collect-list">
  <div class="collect-item">
    <%= link_to collect.node.try(:name), node_topics_path(collect.node) %>
  </div>
  <div class="collect-item">
    <%= link_to collect.title, topic_path(collect) %>
    <span class="timeago"><%= timeago_tag(collect.created_at) %></span>
  </div>
  <div class="collect-item">
    <span><%= "#{collect.replies.without_action.count}æ¬¡å›žå¤ / #{collect.likeed_users.count}ä¸ªðŸ’–" %></span>
  </div>
</div>

<%= paginate @collects %>


<script type="text/javascript">
  $(function () {
    $("time").timeago()
  })
</script>
