<div class="panel">
  <div class="panel-body">
    <div class="row">

      <% unless current_user %>
        <% @users.each do |user| %>
          <div class="col-md-4">
            <div class="media-following">
              <div class="media-left">
                <%= user_avatar_tag user, :md, link: true %>
              </div>
              <div class="media-body">
                <div class="media-heading">
                  <%= link_to user.login, user_path(user.login) %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>

      <% if current_user && current_user == @user %>
        <% @users.each do |user| %>
          <div class="col-md-4">
            <div class="media-following">
              <div class="media-left">
                <%= user_avatar_tag user, :md, link: true %>
              </div>
              <div class="media-body">
                <div class="media-heading">
                  <%= link_to user.login, user_path(user.login) %>
                </div>
                <div class="infos">
                  <% if current_user.follow_user?(user) %>
                    <%= link_to raw('<i class="fa fa-user"> <span class="follow">取消关注</span></i>'),
                        unfollow_user_path(user.login, page: :followed), remote: true %>
                  <% else %>
                    <%= link_to raw('<i class="fa fa-user"> <span class="follow">关注</span></i>'),
                        follow_user_path(user.login, page: :followed), remote: true %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>

      <% if current_user && current_user != @user %>
        <% @users.each do |user| %>
          <div class="col-md-4">
            <div class="media-following">
              <div class="media-left">
                <%= user_avatar_tag user, :md, link: true %>
              </div>
              <div class="media-body">
                <div class="media-heading">
                  <%= link_to user.login, user_path(user.login) %>
                </div>
                <div class="infos">

                  <% if current_user != user %>
                    <% if current_user.follow_user?(user) %>
                      <%= link_to raw('<i class="fa fa-user"> <span class="follow">取消关注</span></i>'),
                          unfollow_user_path(user.login, page: :followed, sidebar_user: @user.login), remote: true %>
                    <% else %>
                      <%= link_to raw('<i class="fa fa-user"> <span class="follow">关注</span></i>'),
                          follow_user_path(user.login, page: :followed, sidebar_user: @user.login), remote: true %>
                    <% end %>
                  <% end %>

                </div>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>

    </div>
  </div>
  <%= paginate @users %>
</div>
