<div class="topic-list">
  <div class="topic-item">
    <%= link_to topic.node.try(:name), node_topics_path(topic.node) %>
  </div>
  <div class="topic-item">
    <%= link_to topic.title, topic_path(topic) %>
    <% if topic.excellent %>
      <span><i class="fa fa-diamond"></i></span>
    <% end %>
    <span class="timeago"><%= timeago_tag(topic.created_at) %></span>
  </div>
  <div class="topic-item">
    <span><%= "#{topic.replies.without_action.count}æ¬¡å›žå¤ / #{topic.likeed_users.count}ä¸ªðŸ’–" %></span>
  </div>
</div>

<%= paginate @topics %>
