<div class="row">
  <div class="col-lg-4">
    <%= render "sidebar", user: @user %>
  </div>
  <div class="col-lg-8">

    <%= render "menu" %>

    <div class="panel">
      <div class="panel-body">
        <div id="menu-bottom">
          <%= render "calinfo" %>
        </div>
      </div>
    </div>

    <div class="downmenu-con">
      <%= render 'downmenu', user: @user  %>

      <div class="panel">
        <div class="panel-body">
          <div id="downmenu-bottom">
            <%= render partial: "hot_topic", collection: @hot_topics, as: :topic %>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
