<%= content_for :sitemap do %>
  <span>概览</span>
<% end %>

<div class="btn-group row">
  <%= link_to  raw("<i class='fa fa-cogs'></i>全局设置"), admin_site_configs_path, class: "btn btn-default" %>
  <%= link_to  raw("<i class='fa fa-cubes'></i>三方应用"), "#", class: "btn btn-default" %>
  <%= link_to  raw("<i class='fa fa-tasks'></i>异步任务..."), sidekiq_web_path, class: "btn btn-default", target: "_blank" %>
  <%= link_to  raw("<i class='fa fa-database'></i>数据库状态..."), "/pghero", class: "btn btn-default", target: "_blank" %>
  <%= link_to  raw("<i class='fa fa-warning'></i>异常..."), "/exception-track", class: "btn btn-default", target: "_blank" %>
</div>
<div class="row toolbar-body">
  <div class="col-md-4 col-4">
    <div class="total">3</div>
    <div class="name">
      <span>用户总数</span>
      <span class="total-week" rel="twipsy" title="本周新增">+0</span>
      <span class="total-month" rel="twipsy" title="本月新增">+0</span>
    </div>

  </div>
  <div class="col-md-4 col-4">
    <div class="total">3</div>
    <div class="name">
      <span>话题总数</span>
      <span class="total-week" rel="twipsy" title="本周新增">+0</span>
      <span class="total-month" rel="twipsy" title="本月新增">+0</span>
    </div>
  </div>
  <div class="col-md-4 col-4">
    <div class="total">3</div>
    <div class="name">
      <span>回帖总数</span>
      <span class="total-week" rel="twipsy" title="本周新增">+0</span>
      <span class="total-month" rel="twipsy" title="本月新增">+0</span>
    </div>
  </div>
</div>
<div class="row toolbar-body">
  <div class="col-md-4 col-4">
    <div class="total">3</div>
    <div class="name">
      <span>通知总数</span>
      <span class="total-week" rel="twipsy" title="本周新增">+0</span>
      <span class="total-month" rel="twipsy" title="本月新增">+0</span>
    </div>

  </div>
  <div class="col-md-4 col-4">
    <div class="total">3</div>
    <div class="name">
      <span>评论总数</span>
      <span class="total-week" rel="twipsy" title="本周新增">+0</span>
      <span class="total-month" rel="twipsy" title="本月新增">+0</span>
    </div>
  </div>
  <div class="col-md-4 col-4">
    <div class="total">3</div>
    <div class="name">
      <span>照片总数</span>
      <span class="total-week" rel="twipsy" title="本周新增">+0</span>
      <span class="total-month" rel="twipsy" title="本月新增">+0</span>
    </div>
  </div>
</div>
