<!--
@Author: baodongdong
@Date:   2017-11-19T09:52:24+08:00
@Last modified by:   baodongdong
@Last modified time: 2017-11-19T19:33:17+08:00
-->

<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8' />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <title><%= content_for?(:title) ? yield(:title) : Setting.app_name %></title>
    <meta name="apple-mobile-web-app-capable" content="no">
    <meta content='True' name='HandheldFriendly' />
    <link rel="alternate" type="application/rss+xml" title="订阅最新帖" href="<%= main_app.feed_topics_url %>" />
    <%= stylesheet_link_tag 'front', 'data0-turbolinks-track': "reload" %>
    <%= stylesheet_link_tag 'turbolinks-app', 'data-turbolinks-track': "reload" %>
    <%= stylesheet_link_tag 'application' %>
    <%= yield :stylesheets %>
    <%= action_cable_meta_tag %>
    <%= csrf_meta_tag %>
    <%= raw Setting.custom_head_html %>
    <%= javascript_include_tag 'app', 'data-turbolinks-track': "reload" %>
    <%= yield :javascript %>
  </head>

  <body class="page-<%= controller_name %><%= ' infinite-scroll' if turbolinks_app? %>" data-controller-name="<%= controller_name %>">
    <div class="header">
      <nav class="navbar navbar-inverse navbar-fixed-top navbar-default">
        <div class="container">
          <div class="navbar-header" id="navbar-header" data-turbolinks-permanent>
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-navbar-collapse">
                <span class="sr-only">Toggle</span>
                <i class="fa fa-reorder"></i>
              </button>
              <%= raw Setting.navbar_brand_html %>
          </div>
          <div class="collapse navbar-collapse" id="main-navbar-collapse">
            <%= yield :header %>
            <%= render "shared/navbar" %>
          </div>
          <%= render "shared/usernav" %>
        </div>
      </nav>
    </div>
    <%= yield %>
  </body>
</html>
