<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8' />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <title><%= content_for?(:title) ? yield(:title) : Setting.app_name %></title>
    <meta name="apple-mobile-web-app-capable" content="no">
    <meta content='True' name='HandheldFriendly' />
    <link rel="alternate" type="application/rss+xml" title="订阅最新帖" href="<%= main_app.feed_topics_url %>" />
    <%= stylesheet_link_tag 'front', 'data0-turbolinks-track': "reload" %>
    <%= stylesheet_link_tag 'turbolinks-app', 'data-turbolinks-track': "reload" %>
    <%= stylesheet_link_tag 'application',media: "all" %>
    <%= yield :stylesheets %>
    <%= action_cable_meta_tag %>
    <%= csrf_meta_tag %>
    <%= raw Setting.custom_head_html %>
    <%= javascript_include_tag 'app', 'data-turbolinks-track': "reload" %>
    <%= yield :javascript %>
  </head>

  <body class="page-<%= controller_name %><%= ' infinite-scroll' if turbolinks_app? %>" data-controller-name="<%= controller_name %>">
    <nav class="navbar bg-light navbar-light navbar-expand-md">
      <div class="container">
        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#main-navbar-collapse" data-turbolinks-permanent>
          <i class="fa fa-reorder"></i>
        </button>
        <%= raw Setting.navbar_brand_html %>
        <div class="collapse navbar-collapse" id="main-navbar-collapse">
          <%= render "shared/nav-navbar" %>
        </div>
        <%= render "shared/nav-search" %>
        <%= render "shared/nav-user" %>
      </div>
    </nav>

    <div id="main" class="main-container container">
      <%= notice_message %>
      <%= yield %>
    </div>

  </body>
</html>
